pkgbase = amnesic-browser-bin
	pkgdesc = A tabbed desktop browser engineered to leave nothing recoverable on disk after the process exits
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/Otto-Deviant1904/Amnesic
	arch = x86_64
	license = Apache-2.0
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = at-spi2-core
	optdepends = fuse2: run the AppImage directly without --appimage-extract-and-run
	provides = amnesic-browser
	conflicts = amnesic-browser
	options = !strip
	source = amnesic-browser-bin-0.1.2.AppImage::https://github.com/Otto-Deviant1904/Amnesic/releases/download/v0.1.2/amnesic-browser-0.1.2-x86_64.AppImage
	source = LICENSE-0.1.2::https://github.com/Otto-Deviant1904/Amnesic/raw/v0.1.2/LICENSE
	sha256sums = 527096b4b44426b66f1319431fd7193fb36075fd032d161e209166fa8c744b19
	sha256sums = c71d239df91726fc519c6eb72d318ec65820627232b2f796219e87dcf35d0ab4

pkgname = amnesic-browser-bin
